html {
    scroll-behavior: smooth;
  }
*{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    padding:0;
    /* scroll-behavior: smooth; */

    /* background-color: rgb(44, 37, 37); */
}
h2{
    text-align: center;
}

/* Navbar */
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 2px solid red;
    border-radius: 80px;
}


.navbar{
    display: flex;
    box-sizing: border-box;

    position: fixed;
    z-index: 4;
    
    cursor: pointer;
}

.nav-list{
    width: 70%;
    padding-top:0;
    height: 30%;
    background-color: rgb(6, 83, 83);
    display: flex;
    margin-top:0;
  
}

.nav-list li{
    color: white;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
}

.nav-list li a:hover{
    text-decoration: none;
    color: aqua;
    

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.rightNav{
    background-color: lightcyan;
    text-align: right;
    width: 40%;
    border-radius: 1rem;
    margin-top:0;
    /* padding: 0.1rem; */
}
.rightNav button{
    font-size: 0.7rem;
    border-radius: 1rem;
}
.rightNav .btn{
    margin: 1rem;
    background-color: green;
}
.rightNav i:hover{
    cursor: pointer;
}
#search{

    background-color: pink;
    padding: auto;
    width: 40%;
    
    border: 0.2rem solid grey;
    border-radius: 1rem;
}

.line{
    width: 33px;
    background-attachment: fixed;
    background-color: brown;
    height: 4px;
    margin: 3px 3px;
}



/* ------First Section --------*/
.background{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHCoKReEWUGvg_qs9gSMk2NcpPrspqY1HQFcgUxSXjJIZjshDNAj1Bue3JjXhU95wufno&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: rgb(23, 23, 23); */
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: large;
    font-style: bold;
    max-width: 50%;
    margin: auto; 
    /* padding-top:5%; */
    height: 80%;

}
.button{
    display: flex;
}

.firstHalf{ 
    margin-top: 10rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.secondHalf{
    margin-top: 6rem;
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid red;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-weight: bolder;
    font-size: 1.3rem;
    color: red;
}
.text-small{
    font-size: 1rem;
    color: palevioletred;
    font-weight: bold;
}
.btn{
    padding: 0.6rem;
    margin: 7px 0;

    border-radius: 8px;
    background: aliceblue;
    color: rgb(5, 5, 51);
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: aqua;
}
/* work collection */
#collection{
    margin:0.2rem;
    padding: 1rem;
    
    background-color: rgb(97, 92, 92);
}
#collection{
    
     box-sizing: border-box;
    padding-top: 4rem;
    
}
.image{
    display: flex;
    justify-content: space-around

}
.image .con1 .container2 .con2{
  width: 33.33%;
  padding: 1rem;
  
}

.image button{
    position: relative;
    top:1.1rem;
    background-color: red;
    padding: 0.1rem;
    
    
}
.image button:hover{
  cursor: pointer;
}


#image img{


    /* position: sticky; */
    /* padding-left: 0.8rem; */
    z-index: 1;
    border-radius: 0.5rem;
    margin: 4rem;
}
.container2 {
    text-align: center;
    
}


/*------ animation ------*/
#collection .image img:hover{
    cursor: pointer;
    transform: scale(1.1);
    position: inherit;
    overflow: none;
} 


.overlay2{
    position: sticky;
    font-size: 2rem;
    text-align: center;
    top: 70rem;
    padding: 1rem;
    background:  rgba(0, 0, 0, 0.4);
    z-index:2; 
    color: white;
    width: auto;
    opacity: 0; 
    transition: .2s ease;
    /* margin-left:7rem; */

} 
.container2:hover .overlay2{
    opacity: 1;
    
}
.overlay3{
    position: sticky;
    font-size: 2rem;
    text-align: center;
    top: 70rem;
    padding: 1rem;
    background:  rgba(0, 0, 0, 0.4);
    z-index:2; 
    color: white;
    width: auto;
    opacity: 0;
    
    
    transition: .2s ease;
    
    
    text-align: center;

} 
.container2:hover .overlay3{
    opacity: 1;
    
}
.over1{
    position: sticky;
    font-size: 2rem;
    top: 70rem;
    text-align: center;
    padding: 1rem;
    background:  rgba(0, 0, 0, 0.4);
    z-index:2; 
    color: white;
    width: auto;
    opacity: 0;
    
    
    transition: .2s ease;
    

} 
.con1:hover .over1{
    opacity: 1;
    
}
.con3{
    position: relative;
}
.over2{
    position: sticky;
    font-size: 2rem;
    top: 70rem;
    text-align: center;
    padding: 1rem;
    background:  rgba(0, 0, 0, 0.4);
    z-index:2; 
    color: white;
    width: auto;
    opacity: 0;
    margin-left:9rem;
    
    transition: .2s ease;
    

} 
.con2:hover .over2{
    opacity: 1;
    
}






.featured{
    text-align: center;
} 
.featured .all table{
    padding-left: 3.5rem;
}
.featured .all table tr td{
    padding: 2rem;
}
.featured .all table tr td img{
    border-radius: 3rem;
}
.work h1{
    text-align: center;
}

/* ---footer ---*/

.footer1 table{
 border-spacing: 2rem;
 /* padding-left: 25rem; */
}
.footer1 table tr td{
    padding-right: 3rem;
}
.footer1{
    margin-left: 3rem;
    display: flex;
    padding-bottom: 3rem;
    justify-content: space-around;

}
.footer1 img{
    width: 10%;
    border-radius: 1rem;
    border:0.2rem solid red;
}

.copyright{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.bar{
    display: none;
}
@media only screen and (min-width: 1096px){
    #collection table tr td img{
      background-color: aquamarine;
    }
}
@media only screen and (min-width:628px)and(max-width:748px){
  
 .buttons{display: flex;}
}
@media only screen and (max-width:768px){
    .nav-list li a{
        font-size: 0.6rem;

    }
    .buttons button{
        font-size: 0.6rem;
    }
}
@media only screen and (max-width: 570px){

    .nav-list{
        flex-direction: column;
        
        display:none;

    } 
    .nav-list li{
        background-color:green;
    }
    .rightNav{
        display:flex;
        justify-content: space-between;
        width: auto
    }
    
   
    .firstSection{
        height: auto;
    }
    .box-main{
        flex-direction: column;
        text-align: justify;
        height: 30%;
    }
    .buttons{
        display: flex;
    }
    .bar{
        display: block;
        font-size: 1.2rem;
        top:0;
        right:0;
        margin-left: 3rem;
        margin: 1rem 1rem;
    }
    .footer1 img{
        display: none;
    }
}
@media only screen and (max-width: 690px){
    .image{
        flex-direction: column;
        text-align: center;
    }
    
   
}